body {
    font-family: Arial, sans-serif;
    background-color: #c39373;
    text-align: center;
}

.titulo {
    color: rgb(0, 0, 0);
}

.tabla {
    margin: auto;
    border-collapse: collapse;
}

.tabla th, .tabla td {
    border: 1px solid rgb(62, 44, 32);
    padding: 10px;
}

.tabla th {
    background-color: rgb(204, 178, 160);
}